@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --tagBg: #e4f0fb;
  --hoverTagBg: #d3e7f8;
  --codeBg: #212121;
  --text: #486084;
  --textEmph: #f8f1ae;
}

[data-theme="dark"] {
  --background: #22303d;
  --tagBg: #485b7c;
  --hoverTagBg: #394863;
  --codeBg: #24272f;
  --text: #ecd9d8;
  --textEmph: #3c3a36;
}
