@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --tagBg: 228 240 251;
  --hoverTagBg: 211 231 248;
  --codeBg: 33 33 33;
  --text: 72 96 132;
  --textEmph: 72 96 132;
  --textEmphBg: 248 241 174;
}

[data-theme="dark"] {
  --background: 34 48 61;
  --tagBg: 72 91 124;
  --hoverTagBg: 57 72 99;
  --codeBg: 36 39 47;
  --text: 236 217 216;
  --textEmph: 236 72 153;
  --textEmphBg: 60 58 54;
}
